@import url(../../styles/Colors.css);

.input {
    outline: none;
    width: 100%;
    padding: 15px 12px;
    font: inherit;
    color: var(--Marine-blue);
    border-radius: 7px;
    border: 1px solid var(--Light-gray);
    cursor: pointer;
}

.input:focus,
.input:active {
    border-color: var(--Purplish-blue);
}

.input:invalid {
    border-color: var(--Strawberry-red);
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: var(--Cool-gray);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: var(--Cool-gray);
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: var(--Cool-gray);
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--Cool-gray);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--Cool-gray);
}

::placeholder {
    /* Most modern browsers support this now. */
    color: var(--Cool-gray);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--White) inset;
    transition: background-color 5000s ease-in-out 0s;
}
