@import url(./Colors.css);

.App {
    background-color: var(--White);
    height: 600px;
    width: 940px;
    margin: calc(50vh - 300px) auto 0;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    gap: 100px;
}

.stepTitle {
    color: var(--Marine-blue);
    margin-bottom: 10px;
}

.stepDescription {
    color: var(--Cool-gray);
    margin-bottom: 35px;
}

.swal-button {
    background-color: var(--Marine-blue);
    transition: all .3s linear;
}

.swal-button:hover {
    background-color: var(--Purplish-blue) !important;
}

.swal-title {
    color: var(--Marine-blue);
}

.swal-text {
    color: var(--Cool-gray);
}

@media screen and (max-width:950px){
    .App {
        flex-direction: column;
        height: 100vh;
        width: 95%;
        margin: 0 auto;
        position: relative;
        border-radius: 0;
        background-color: var(--Magnolia);
    }
}

@media screen and (max-width:500px){
    .App {
        width: 100%;
    }
}